@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");


.barss {
    font-size: 19px;
}

.header {
    padding: 15px;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header2 {
    padding: 15px;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.options2 {
    display: flex;
    flex-direction: row;

}

.buttonn {
    flex-shrink: 0;

}

.display-none {
    display: none;
}

.option {
    border-color: #e7e5ea;

    border-top-width: 1px;
    border-left-width: -0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-style: solid;
    padding: 12px;

}

.last-option {
    border-bottom-width: 1px;
}

button {
    color: #12022f;
    font-weight: 700;
    margin: 12px;
    height: 40px;
    width: 100px;
    border-radius: 15px;
    border-width: 0px;
    background-color: #ffdda9;
}

.bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://assets.ccbp.in/frontend/intermediate-rwd/landing-page-sm-bg.png);
    background-size: cover;
    height: 100vh;
    overflow: auto;
}

.description {
    color: #ffffff;
    font-family: "roboto";
    text-align: center;

}

.navbarhide {
    display: none;
}

.hide {
    display: block;
}

@media (min-width:768px) {
    .navbarhide {
        display: block;
    }

    .option {
        border-width: 0px;
    }

    .hide {
        display: none;
    }

    .bottom-container {
        background-image: url(https://assets.ccbp.in/frontend/intermediate-rwd/landing-page-lg-bg.png);
    }

}


* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}